.icons {
  color: white;
  font-family: "Space Grotesk", sans-serif;

  font-size: 1.3vw;
  text-decoration: none;
  letter-spacing: 0.185rem;
}
.icons a {
  color: white;
  text-decoration: none;
}
body {
  background-image: url(9396E902-D314-40FD-A68E-959B4FD043E9.jpg);
  background-repeat: no-repeat;
  background-position: -900px -360px;
}
#separator {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 3vw;
}
img {
  width: 43vw;
}
#container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 95vh;
}
