body {
  background-image: url("9396E902-D314-40FD-A68E-959B4FD043E9-min.jpg");
  background-repeat: no-repeat;
  background-position: -900px -360px;
  background-color: black;
}
h2 {
  color: #f98ed4;
  font-family: "Pathway Gothic One", sans-serif;

  font-weight: normal;
  font-size: 4vh;
}
.textareas {
  display: grid;
  grid-template-columns: 1vh 5vh 21vh;
}
.bigText {
  color: white;
  font-family: "Space Grotesk";
  font-size: 2.2vh;
  text-align: left;
}
#caja {
  display: grid;
  grid-template-columns: auto;
  column-gap: 4vw;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
#container {
  color: white;
}
#containerInfo {
  display: grid;
  row-gap: 1vh;
  grid-template-columns: auto;
}
.dots {
  color: pink;
  font-size: 3vh;
}
strong {
  color: white;
  font-size: 2vh;
}
