.icons {
  color: white;
  font-family: "Space Grotesk", sans-serif;

  font-size: 1.3em;
  text-decoration: none;
  letter-spacing: 0.175rem;
}
.icons a {
  color: white;
  text-decoration: none;
}
body {
  background-image: url(9396E902-D314-40FD-A68E-959B4FD043E9.jpg);
  background-repeat: no-repeat;
  background-position: -1600px -460px;
}
#separator {
  display: flex;
  justify-content: space-between;
  margin: 2vw;
}
#logo {
  background-color: white;
  padding: 10vw;
}
#container {
  padding-top: 22vh;
  padding-left: 27vw;
  padding-right: 27vw;
}
